<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ThreeTierSample</display-name>
  <welcome-file-list>
    <welcome-file>QueryStudentByPage</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>org.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>org.student.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>org.student.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentBySno</display-name>
    <servlet-name>QueryStudentBySno</servlet-name>
    <servlet-class>org.student.servlet.QueryStudentBySno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentBySno</servlet-name>
    <url-pattern>/QueryStudentBySno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllStudent</display-name>
    <servlet-name>QueryAllStudent</servlet-name>
    <servlet-class>org.student.servlet.QueryAllStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStudent</servlet-name>
    <url-pattern>/QueryAllStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStudentByPage</display-name>
    <servlet-name>QueryStudentByPage</servlet-name>
    <servlet-class>org.student.servlet.QueryStudentByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStudentByPage</servlet-name>
    <url-pattern>/QueryStudentByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ELInitServlet</display-name>
    <servlet-name>ELInitServlet</servlet-name>
    <servlet-class>org.student.servlet.ELInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELInitServlet</servlet-name>
    <url-pattern>/ELInitServlet</url-pattern>
  </servlet-mapping>
</web-app>